<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">

    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="modalService.openModal(1)">
          <i class="icon icon-small ion-ios-search"></i>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent">
    </ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark button-bar">

      <div ng-show="currentUser" class="buttons" side="left">
        <button class="button button-royal" ng-click="logout()">Log Out</button>
      </div>

      <h1 class="title">Menu</h1>

    </ion-header-bar>


    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="app.tabs.dash">
          Markets
        </ion-item>
        <ion-item menu-close ui-sref="app.tabs.portfolio">
          Portfolio
        </ion-item>
        <ion-item menu-close ui-sref="app.tabs.news">
          News Feed
        </ion-item>
        <ion-item menu-close ui-sref="app.tabs.primate">
          Primate Services
        </ion-item>

        <ion-item menu-close ng-click="modalService.openModal(1)">
          Search
        </ion-item>
        <ion-item menu-close ng-hide="currentUser" ng-click="modalService.openModal(2)">
          Log In
        </ion-item>
        <ion-item menu-close ng-hide="currentUser" ng-click="modalService.openModal(3)">
          Sign Up
        </ion-item>
        <div class="item item-divider title">More</div>

        <ion-item menu-close ui-sref="app.tabs.dash">
          Options
        </ion-item>
        <ion-item menu-close ui-sref="app.tabs.dash">
          Share App
        </ion-item>
        <ion-item menu-close ng-click="ratePop($index)">
          Rate Us
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
