<ion-view view-title="{{ticker}}" drag-content="false">

  <ion-nav-bar id="stock-navbar" class="bar-royal">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
  </ion-nav-bar>

    <ion-nav-buttons side="right">
      <button class="button button-stable icon-left" ng-show="currentUser" ng-class="following ? 'ion-ios-checkmark-empty' : 'ion-ios-plus'" ng-bind="following ? 'Following' : 'Follow'" ng-click="toggleFollow()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <div class="bar bar-subheader bar-light">
      <div class="buttons">
        <div class="button button-clear display-flex">
          <h6 id="stock-name">{{stockDetailsData.Name}}</h6>
        </div>
      </div>

      <h2 class="title button-right button-left" id="stock-price">${{stockPriceData.price | shrinkNumber:2}}</h2>
      <div class="buttons" side="right">
        <h6 id="stock-change" class="button" ng-class="stockPriceData.change < 0 ? 'button-assertive': 'button-balanced'"><span ng-if="stockPriceData.change > 0">+</span>{{stockPriceData.change | shrinkNumber:2}}$<br>[<span ng-if="stockPriceData.change > 0">+</span>{{stockPriceData.chg_percent | number:3}}%]</h6>
      </div>
    </div>

  <ion-floating-menu>
    <ion-floating-item icon="ion-paper-airplane"></ion-floating-item>
    <ion-floating-item icon="ion-cash"></ion-floating-item>
    <ion-floating-item icon="ion-ios-plus-outline"></ion-floating-item>
  </ion-floating-menu>


  <ion-content class="has-subheader" scrollbar-y="false">
    <ion-refresher
      pulling-text="Pull to update data"
      on-refresh="reloadAllData()"
      class="margin-auto"
      spinner="lines"
      pulling-icon="ion-ios-arrow-thin-down"
    ></ion-refresher>


    <div class="button-bar" id="short-button-bar">
      <a ng-click="chartViewFunc(1)" ng-class="chartView==1 ? 'active' : ''" class="button">Day</a>
      <a ng-click="chartViewFunc(2)" ng-class="chartView==2 ? 'active' : ''" class="button">Week</a>
      <a ng-click="chartViewFunc(3)" ng-class="chartView==3 ? 'active' : ''"  class="button">3m</a>
      <a ng-click="chartViewFunc(4)" ng-class="chartView==4 ? 'active' : ''"  class="button">Year</a>
      <a ng-click="chartViewFunc(5)" ng-class="chartView==5 ? 'active' : ''"  class="button">Max</a>
    </div>

    <!--yahoo charts options at https://code.google.com/p/support/wiki/ReadOnlyTransition -->

    <img ng-if="chartView == 1" ng-src="http://chart.finance.yahoo.com/z?s={{ticker}}&t=1d&q=l&l=on&z=m&a=vm" style="width: 100%;">
    <img ng-if="chartView == 2" ng-src="http://chart.finance.yahoo.com/z?s={{ticker}}&t=5d&q=l&l=on&z=m&a=vm" style="width: 100%;">
    <img ng-if="chartView == 3" ng-src="http://chart.finance.yahoo.com/z?s={{ticker}}&t=3m&q=l&l=on&z=m&a=vm" style="width: 100%;">
    <div ng-if="chartView == 4" nv-chart="chartOptions" id="interactiveChart"></div>
    <img ng-if="chartView == 5" ng-src="http://chart.finance.yahoo.com/z?s={{ticker}}&t=my&q=l&l=on&z=m&a=vm" style="width: 100%;">

    <div class="card" id="market-data-card">
      <div class="item item-divider">Market Data
        <span class="last-trade">Last Trade: {{stockPriceData.utctime | date:'h:mm a'}}
        </span>
      </div>

      <div class="row row-center">
        <div class="col">Ask in $: </div>
        <div class="col col-20">{{stockDetailsData.Ask | shrinkNumber:2}}</div>
        <div class="col">Bid in $: </div>
        <div class="col col-20">{{stockDetailsData.Bid | shrinkNumber:2}}</div>
      </div>
      <div class="row row-center">
        <div class="col">Day's High: </div>
        <div class="col col-20">${{stockPriceData.day_high | shrinkNumber:2}}</div>
        <div class="col">Day's Low: </div>
        <div class="col col-20">${{stockPriceData.day_low | shrinkNumber:2}}</div>
      </div>
      <div class="row row-center">
        <div class="col">Prev. Closed: </div>
        <div class="col col-20">${{stockDetailsData.PreviousClose | shrinkNumber:2}}</div>
        <div class="col">Open: </div>
        <div class="col col-20">${{stockDetailsData.Open | shrinkNumber:2}}</div>
      </div>
      <div class="row row-center">
        <div class="col">Volume: </div>
        <div class="col col-20">${{stockPriceData.volume | shrinkNumber:2}}</div>
        <div class="col">Avg. Volume</div>
        <div class="col col-20">${{stockDetailsData.AverageDailyVolume | shrinkNumber:2}}</div>
      </div>
      <div class="row row-center">
        <div class="col">52-week high: </div>
        <div class="col col-20">${{stockDetailsData.YearHigh | shrinkNumber:2}}</div>
        <div class="col">52-week low: </div>
        <div class="col col-20">${{stockDetailsData.YearLow | shrinkNumber:2}}</div>
      </div>
      <div class="row row-center">
        <div class="col">P/E: </div>
        <div class="col col-20">{{stockDetailsData.PERatio | shrinkNumber:2}}</div>
        <div class="col">EPS: </div>
        <div class="col col-20">{{stockDetailsData.EarningsShare | shrinkNumber:2}}</div>
      </div>
    <div class="row row-center">
      <div class="col">Market Cap: </div>
      <div class="col col-20">{{stockDetailsData.MarketCapitalization}}$</div>
      <div class="col">EBITDA: </div>
      <div class="col col-20">{{stockDetailsData.EBITDA}}$</div>
    </div>
  </div>

  <div class="card" id="stock-notes" ng-show="currentUser">
    <div class="item item-divider">Notes<span ng-click="addNote()" class="add-stock-notes">Add <i class="icon ion-ios-plus"></i></span></div>
    <a class="item" ng-repeat="note in stockNotes track by $index" ng-click="openNote($index, note.title, note.body)">
      <h2>{{note.title}}</h2>
      <h6>{{note.date | date: 'd/M/yy'}}</h6>
    </a>
  </div>

    <div class="list card" id="stock-news">
      <div class="item item-divider">News</div>
      <a class="item item-icon-right" ng-repeat="story in newsStories" ng-click="openWindow(story.link)">
        <!-- <img src="{{story.image}}"></img> -->
        <h2>{{story.title}}</h2>
        <h6>{{story.pubDate | characters:17:false:false}}</h6>
        <p ng-if="story.description.length > 0">{{story.description | characters:200:false:true}}</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

  </ion-content>
</ion-view>
