<ion-view view-title="More">
  <ion-content class="padding">

    <div class="card">
      <div class="item-divider">
        Education Space
      </div>
    </div>

    <div class="card">
      <div class="item-divider">
        Social Space
      </div>
    </div>

    <div class="card">
      <div class="item-divider">
        Transaction History
      </div>
    </div>

  </ion-content>
</ion-view>
