<ion-view view-title="Markets">
  <ion-content class="padding">
    <h2>Welcome to StockPrimate</h2>
    <p>
    Here go all stocks and indexes divised in tabs and categories.
    </p>
    <p>

    </p>
    <p>
    If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    </p>
    <p>
      For help sending push notifications, join the <a href="https://apps.ionic.io/signup" target="_blank">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>. We also have other services available.
    </p>

    <div class="card">
      <div class="item item-divider">Your Stocks</div>
      <a class="item item-icon-right" ui-sref="app.myStocks">
        <h2>Followed Stocks</h2>
        <p></p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

  </ion-content>
</ion-view>
