<ion-view view-title="Latest News">
  <ion-content class="padding">
    <ion-list>
      <div class="list card">
        <div class="item item-divider">Market Headlines
            <select>
              <option>Latest</option>
              <option>Bonds</option>
              <option>Bulls &amp; Bears</option>
              <option>Deals</option>
              <option>Economy</option>
              <option>Global Markets</option>
              <option>IPOs</option>
              <option>Hot Stocks</option>
              <option>Hedge Funds</option>

            </select>
        </div>

        <!-- <div class="list">


          <div ng-repeat="entry in entries" class="item"  ng-init="init()" ng-click="openWindow(entry.link)">
                <b>{{entry.title}}</b><br>
                <span ng-bind-html="entry.contentSnippet"></span>
          </div>
        </div> -->


        <a class="item item-icon-right" ng-repeat="story in marketStories" ng-click="openWindow(story.link)">
          <h2>{{story.title}}</h2>
          <h6>{{story.pubDate | characters:20:false:false}}</h6>
          <p ng-if="story.description.length > 0">{{story.description | characters:200:false:true}}</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>

      </div>
    </ion-list>
  </ion-content>
</ion-view>
