<ion-view view-title="Portfolio">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-divider">Total Equity</div>
      <a class="item item-icon-right">
        <h2>Details</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

    <div class="card">
      <div class="item item-divider">Your Stocks</div>
      <a class="item item-icon-right" ui-sref="app.tabs.myStocks">
        <h2>Followed Stocks</h2>
        <p></p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

  </ion-content>
</ion-view>
