<ion-tabs class="tabs-icon-only tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="All Markets" icon-off="ion-arrow-graph-down-right" icon-on="ion-arrow-graph-up-right" href="#/app/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Portfolio" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/app/tab/portfolio">
    <ion-nav-view name="tab-portfolio"></ion-nav-view>
  </ion-tab>

  <!-- news Tab -->
  <ion-tab title="News" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/app/tab/news">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>

  <!-- Primate Tab -->
  <ion-tab title="Primate" icon-off="ion-ios-paw-outline" icon-on="ion-ios-paw" href="#/app/tab/primate">
    <ion-nav-view name="tab-primate"></ion-nav-view>
  </ion-tab>


</ion-tabs>
