
/*floating menu*/

#floating-menu .icon.menu-icon{
    font-size: 20px;
}

#floating-menu {

    bottom: 10px;
    right: 20px;
    position: fixed;
    z-index: 9999;
    width: 60px;
    height: 60px;
    line-height: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    padding: 0;
    border: none;
    border-radius: 50%;
}

#floating-menu li.menu-button {
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #862d86 !important;
}

#floating-menu li{
    opacity: 0.7;
    background-color: #1e90ff !important;
    position: absolute;
    left: 0.5px;
    top: 0.5px;
    width: 98%;
    height: 98%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    padding: 0;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

#floating-menu li span.label{
    margin-right: 2px;
    color: gray;
    background-color: white;
    padding: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0.5px 2px 2px 0.5px rgba(0, 0, 0, 0.2);
}


#floating-menu li span.label-container{
    margin-right: 2px;
    position: absolute;
    display: inline-block;
    visibility: hidden;
    top: 0px;
    overflow: hidden;
    right: 75px;
    width: 400px;
    text-align: right;
    font-size: 15px;
}

#floating-menu.active span.label-container{
    visibility: visible;
}


#floating-menu.active li{
    opacity: 1;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

/*#floating-menu li {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    font-size: 0.8em;
}*/

#floating-menu > li  {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: .3s;
}

#floating-menu.active > li:nth-child(1) {
    transition-delay: 0ms; -webkit-transition-delay: 0ms; top: -70px;
}
#floating-menu.active > li:nth-child(2) {
    transition-delay: 50ms; -webkit-transition-delay: 50ms; top: -140px;
}
#floating-menu.active > li:nth-child(3){
    transition-delay: 100ms; -webkit-transition-delay: 100ms; top: -210px;
}
#floating-menu.active > li:nth-child(4){
    transition-delay: 150ms; -webkit-transition-delay: 150ms; top: -280px;
}
#floating-menu.active > li:nth-child(5){
    transition-delay: 160ms; -webkit-transition-delay: 160ms; top: -350px;
}
#floating-menu.active > li:nth-child(6){
    transition-delay: 170ms; -webkit-transition-delay: 170ms; top: -420px;
}
#floating-menu.active > li:nth-child(7){
    transition-delay: 180ms; -webkit-transition-delay: 180ms; top: -490px;
}

/*ratings */
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 20px;
}

/*my stocks styles*/

#my-stocks .item-content {
  padding: 5px 0px 5px 5px;
}


#my-stocks h3 {
  font-size: 4.75vmin;
}

#my-stocks h6 {
  font-size: 3vmin;
  font-weight: 300;
  white-space: normal;
  max-height: 14px;
}

#my-stocks .stock-price-time {
  padding-right: 10px;
  text-align: right;
}

#my-stocks .stock-price-time h3 {
  font-weight: normal;
}

#my-stocks .stock-change {
  border-bottom-left-radiux: 3px;
  border-top-left-radius: 3px;
  maring-right: -10px;
}
#my-stocks .stock-change h3,
#my-stocks .stock-change h6 {
  color: #fff;
}

#my-stocks .inset-shadow {
  -webkit-box-shadow: inset 0px 0px 15px rgba(0,0,0,.15);
}

/*search styles*/
#search {
  background-color: rgba(20,20,20,.98);
}

#search .search-input {
  background-color: rgba(255, 255, 255,.1);
}

#search input {
  color: #fff;
}

/*news style*/
#stock-news .icon {
  color: #ccc;
  font-size: 11pt;
  right: 0;
}


#stock-news h2 {
  font-weight: 400;
  white-space: normal;
}

#stock-news p {
  color: #222;
  margin: 10px auto 0;
  font-size: 9pt;
  white-space: normal;
}

#stock-news .item-icon-right {
  padding-right: 30px;
}

/*#stock-news img {
  float: left;
}*/

/*Stock notes styles*/
#stock-notes .add-stock-notes {
  border: 1px solid #800080;
  border-radius: 3px;
  color: #800080;
  float: right;
  font-size: 11pt;
  font-weight: 300;
  padding: 0 5px;
}

#stock-note-title {
  border-bottom: 1px solid #eee;
  padding: 0 5px;
}
#stock-note-body {
  min-height: 100px;
  padding: 10px 5px 5px;
}

/*market data card*/
#market-data-card {
  font-size: 3.25vmin;
}

#market-data-card .col-20 {
  font-weight: bolder;
  white-space: normal;
}

#market-data-card col-20:last-of-type {
  text-align: right;
}

#market-data-card .last-trade {
  font-size: 3vmin;
  float: right;
}

/*stock navbar*/

#stock-navbar ion-header-bar {
  border: none;
}

#stock-navbar .back-text {
  font-size: 11pt;
}


/*stock subheader bar*/
#stock-subheader-bar {
  border-top: none;
}

#stock-name {
  color: #333;
  float: left;
  font-size: 3.5vmin;
  /*font-size: 3.5vmin - this and other font-sizes for
  stock-name, stock-change would break the styling for tablets*/
  font-weight: normal;
  margin: auto 0;
  max-width: 33vw;
  overflow: hidden;
  text-aligh: center;
  text-overflow: ellipsis;
}


#stock-price {
  font-size: 7vmin;/**/
  line-height: 32pt;
}

#stock-change {
  font-size: 4vmin;/**/
  font-weight: bolder;
  float: right;
  line-height: 12pt;
  padding: auto 0;
}

/*short button bar*/

#short-button-bar .button {
  line-height: normal;
  min-height: 10px;
  border-radius: 10px;
  border: .5px solid #a500a5;
  font-size: 9pt;
  background-color: #fff;
}

#short-button-bar .button.active {
  font-weight: bold;
}

#short-button-bar {
  border-bottom: 1px solid #eee;
}

/*chart style*/

#interactiveChart{
  height: 80vmin;
}

.nv-focus .nv-barsWrap, /*top chart volume bars*/
.nv-focus .nv-y1 .tick, /* top chart left y axis lines bars */
.nv-focus .nv-y1 .nv-axisMaxMin, /* top chart left y axis max/min values */
.nv-focus .nv-y1 .domain, /* top chart left y axis bounding box */
.nv-context .nv-x .nv-axisMaxMin /* bottom chart */
.nv-context .nv-y2 .domain,
.nv-context .nv-y2 .nv-axisMaxMin,
.nv-context .nv-y2 .tick {
  display: none !important;
}


.nv-focus .nv-x .tick:first-of-type text,
#interactiveChart text.nv-axislabel {
  text-anchor: start !important;
}

.nv-focus .nv-y2 .tick text,
.nv-focus .nv-y2 .nv-axisMaxMin text,
.nv-focus .nv-x .tick:last-of-type text,
.nv-context .nv-y1 .tick text,
.nv-context .nv-y1 .nv-axisMaxMin text {
  text-anchor: end !important;
}

#interactiveChart svg text {
  font-size: 3vmin !important;
}

#interactiveChart .nv-axis line {
  /*the interior grid*/
  stroke-dasharray: 3,3;
  stroke: #ddd;
}

#interactiveChart .nv-axis path.domain {
  /* both charts' bounding boxes */
  stroke-dasharray: 4,4;
  stroke-opacity: .5;
  stroke-width: 1px;
}

#interactiveChart .nv-focus .domain {
  /* top chart bounding box color */
  stroke: #1e88e5;
}

#interactiveChart .nv-focus .nv-axislabel,
#interactiveChart .nv-focus .nv-axisMaxMin text { /* top chart label and max/min values colors */
  stroke: #1e88e5;
}

#interactiveChart .nv-context .domain { /*bottom chart*/
  stroke: #580058;
}

#interactiveChart .nv-context .nv-axislabel,
#interactiveChart .nv-context .nv-axisMaxMin text {
  fill: #580058;
}

#interactiveChart .nv-focus .nv-y2 .tick text,
#interactiveChart .nv-context .nv-y1 .tick text {
  /* both charts' y axis interior range values colors */
  fill: #ccc;
}

#interactiveChart .nv-focus .nv-line { /* top chart price line */
  stroke: #2196f3;
  stroke-width: 2px;
}

#interactiveChart .nv-context .nv-line { /*bottom chart price line*/
  stroke: #aaa;
  stroke-opacity: .75;
  stroke-width: 1px;
}

#interactiveChart .nv-line {
  stroke-linecap: round;
  stroke-linejoin: round;
}

#interactiveChart .nv-barsWrap rect {
  fill: #580058;
  fill-opacity: 1;
  shape-rendering: crispEdges;
}

#interactiveChart .nv-brushBackground rect {
  shape-rendering: crispEdges;
  stroke-width: 1;
  stroke: #ccc;
}

/*NB: Helper styles*/
.no-padding {
  padding: 0px;
}

.background-green {
  background-color: #33cd5f !important;
}

.background-red {
  background-color: #ef473a !important;
}

.color-opt {
  color: #861286 !important;
}

.display-flex {
  display: -webkit-flex !important;
}
.no-margin {
  margin: 0 !important;
}

.font-normal {
  font-weight: normal !important;
}

.border-none {
  border: none !important;
}

.margin-auto,
.margin-auto svg {
  margin: auto !important;
}

.text-align-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}



/*adjustements style*/
svg text{
  font: 400 10pt "Helvetica Neue", sans-serif !important;
}

.animated.modal.flipInX.ng-leave {
    -webkit-animation-name:flipOutX;
    animation-name:flipOutX;
}
